---
title: About
layout: default
tags: ['about','ev bogue']
pageOrder: 1
---

.row
		.span4.muted
			h1 Done
			p.lead What I've done with my life.

			ul
				li Graduated from NYU in 3 years
				li Worked for 
					a(href='http://gawker.com/') Gawker 
					| and 
					a(href='http://nymag.com') Nymag
				li Reduced belongings to under 100 things
				li Interviewed by 
					a(href='http://www.cbsnews.com/video/watch/?id=6994343n') CBS News
				li Taught people minimalism
				li Made out with 
					a(href='http://gwenbell.com') Gwen Bell
				li Ate 
					a(href='http://www.huffingtonpost.com/steven-rinella/cooking-raccoon-roadkill-the-wild-within_b_821038.html') raccoon for television
				li Lived in NYC, SF, Tokyo, Berlin
				li Escaped Singapore alive
				li Earned in 
					a(href='/pages/bitcoin') Bitcoin

		.span4
			h1 Doing
			p.lead What I'm working on right now.

			ul
				li Deploying 
					a(href='/pages/node') Node.js
				li Coding with Javascript
				li Committing to 
					a(href='https://github.com/evbogue/') Github
				li Watching  
					a(href='http://preev.com') BTC price
				li Listening to Radiohead
				li Evolving this site
				li Publishing new 
					a(href='/pages/writing') writing
				li Hanging on 
					a(href='http://hyperboria.net/') Hyperboria
				li Earning in 
					a(href='/pages/bitcoin') Bitcoin
				

			p.lead What I can do for you.

			ul
				li Answer your questions about 
					a(href='/pages/bitcoin') Bitcoin
				li Deploy your 
					a(href='/pages/node') Node.js 
					| app
				li Make your site or app beautiful and responsive with 
					a(href='http://twitter.github.com/bootstrap') Bootstrap
				li Send you a few mBTC, 
					a(href='mailto:ev@evbogue.com') just ask
				

		.span4.muted
			h1 To Do
			p.lead What I want to do soon.

			ul
				li Learn 
					a(href='http://golang.org/') Go
				li Move to 
					a(href='http://stream.evbogue.com/posts/nycsf') New York or San Francisco 
					| (again)
				li Work at 
					a(href='/posts/coinbase') Coinbase 
					| (c'mon Brian)
				li Eat Saag Paneer at Shalimar (again)
				li Have tacos with 
					a(href='https://github.com/substack') Substack
				li Ruffle 
					a(href='https://github.com/visionmedia/') TJ Holowaychuk
					|'s hair
				li Travel to India
				li Invent (or deploy) distributed social networking
				li Earn more 
					a(href='/pages/bitcoin') Bitcoin

				