---
title: About
layout: default
tags: ['about','ev bogue']
pageOrder: 1
---

.row
		.span4.muted
			h1 Done
			p.lead What I've done with my life.

			ul
				li Graduated from NYU in 3 years
				li Reduced belongings to under 100 things
				li Interviewed by CBS News
				li Launched an ebook revolution
				li Taught people minimalism
				li Made out with Gwen Bell
				li Ate raccoon for television
				li Lived in NYC, SF, and abroad
				li Worked for Gawker and Nymag
				li Earned in Bitcoin

		.span4
			h1 Doing
			p.lead What I'm working on right now.

			ul
				li Deploying Node.js
				li Coding with Javascript
				li Committing to Github
				li Watching BTC price
				li Listening to Radiohead
				li Evolving this site
				li Publishing new writing
				li Earning in Bitcoin
				

			p.lead What I can do for you.

			ul
				li Answer your questions about Bitcoin
				li Deploy a Node.js app
				li Make your site beautiful and responsive with Bootstrap
				li Send you a few mBTC 
					a(href='mailto:ev@evbogue.com') email
				

		.span4.muted
			h1 To Do
			p.lead What I want to do soon.

			ul
				li Learn Go
				li Move to Oakland (again)
				li Work at Coinbase (c'mon Brian)
				li Earn more Bitcoin
				li Eat Saag Paneer at Shalimar (again)
				li Distributed header in Node.js
				li Invent distributed social networking
				li Have tacos with Substack
				li Meet TJ Holowaychuk

				