a, a:link
  cursor pointer

body
  background #f9f9f9 url(/noise.png)
  font-family 'open sans', verdana
  padding-bottom 5em

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

.navbar-inner
  border-bottom #f1f1f1

.container-main
  padding-top 60px

h1, h2, h3, h4
  font-weight 300

p, li
  font-weight 300

.date 
  color #999

.main
  margin-top 60px
