a, a:link
  cursor pointer

body
  padding-top 60px
  background #f5f5f5 url(/noise.png)
  font-family 'open sans'

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

footer
  padding-bottom 30px

.navbar-inner
  border-bottom #f1f1f1

h1, h2, h3, h4
  font-weight 400

p, li
  font-weight 300
