---
layout: 'default'
title: '404 Not Found'
dynamic: true
---


h1 404 Not Found

p Ooops! It looks like the document you requested at <code>#{req.url}</code> couldn't be found.

p There are two possible reasons why this might be.

ol 
	li I've untethered. Not all information should last forever. Sometimes I delete things.
	li It never existed. 

p Regardless, your options are simple.

ol
	li Check out the links above.
	li Go visit some other website.

P If you really want to know what happened, <a href="mailto:ev@evbogue.com">ask me</a>.