--- yaml
layout: 'default'
title: 'Stream'
---

h1 Stream
p.lead Hardcoded stream until distributed p2p social is invented.

p Jan 17 2013 | <a href="/posts/shalimar">Shalimar by my birthday</a>?
p Jan 16 2013 | How easy is it to accept Bitcoin donations? <a href="http://accept.bitcoin.se/">accept.bitcoin.se</a>.
p Jan 15 2013 | Transitioning site to <a href="https://github.com/bevry/docpad/">Docpad</a>.
p Jan 14 2013 | Wrote about <a href="/posts/outofgas">running out of gas</a> and technological challenges.
p Jan 13 2013 | <a href="http://openshift.redhat.com/">Openshift</a> looks cool.
p Jan 09 2013 | WebGL Playground: <a href="http://webglplayground.net/share/traveling-wave-fronts?gallery=1&fullscreen=0&width=800&height=600&header=1">traveling wavefronts.</a>
p Jan 07 2013 | <a href="https://github.com/blog/1360-introducing-contributions">Github Contributions</a> <-- You better start hustlin'.
p Jan 05 2013 | "<a href="http://youtu.be/4XpnKHJAok8?t=10m57s">If you're not distributed, you're not worth using. It's that simple.</a>" -Linus Torvalds
p Jan 04 2013 | Watching Richard Stallman on <a href="https://www.youtube.com/watch?v=qN7u1j44QTo">how to learn programming</a>.
p Jan 03 2013 | Reading <a href="http://www.theatlantic.com/magazine/archive/2013/01/whats-inside-americas-banks/309196/">What's Inside American Banks?</a> [Atlantic]
p Jan 02 2013 | Reading about <a href="https://github.com/agl/pond">Pond</a>, wondering how it could relate to <a href="https://github.com/dominictarr/scuttlebutt">Scuttlebutt</a>.
p Jan 01 2013 | Reading <a href="http://www.kk.org/thetechnium/archives/2013/01/the_post-produc.php">The Post-productive economy</a> by Kevin Kelly.
p Jan 01 2013 | Watching video of <a href="http://www.myfoxdc.com/story/20472463/unmanned-drone-buzzes-french-police-car#axzz2GlKrd255">quadcopter pranking french police</a> [via <a href="http://news.ycombinator.com/">hackernews</a>].
p Dec 31 2012 | Uploading <a href="https://github.com/visionmedia">TJ Holowaychuk</a>'s brain.
p Dec 31 2012 | Committing <a href="http://mitpress.mit.edu/sicp/full-text/book/book-Z-H-4.html#%_toc_start">Structure and Interpretation of Computer Programs</a> to <a href="https://github.com/evbogue/thenodebook">The Node Book</a>
p Dec 29 2012 | Watching <a href="https://www.youtube.com/watch?v=QNsePZj_Yks">Not my department</a> Jacob Appelbaum keynote @ 29c3.
p Dec 29 2012 | git push origin master