!!! 5
html
  head
    
    title= getPreparedTitle()
    link(rel="shortcut icon", href="/ico/favicon.ico")
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
    link(rel='stylesheet', href='/styles/style.css')
    script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')
    
  body

    include nav.jade

    .container
      section#content.content!= content
          
    <img src="http://hummingbird.evbogue.com/tracking_pixel.gif?" />

    script(type='text/javascript', href='http://code.jquery.com/jquery.js')
    script(type='text/javascript', href='/js/bootstrap.js')
    script(type='text/javascript', href='/scripts/script.js')

