!!! 5
html
  head
    meta(charset='utf-8')
    title= getPreparedTitle()
    link(rel='shortcut icon', href='/ico/favicon.ico')
    link(rel='stylesheet', href='/css/prettify.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
    link(rel='stylesheet', href='/styles/style.css')
    
  body

    include nav.jade

    .container.main
      section#content.content!= content
          
    <img src="http://hummingbird.evbogue.com/tracking_pixel.gif?" />

    script(type='text/javascript', src='/js/prettify.js')
    script(type='text/javascript', src='http://code.jquery.com/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.js')
    script(type='text/javascript', src='/scripts/script.js')

