
.navbar.navbar-fixed-top
	.navbar-inner
		.container
			.row
				.span12
					a.brand(href="http://evbogue.com/") Evbogue.com
					ul.nav
						li  
							a(href='http://stream.evbogue.com/')  Stream
							a.active(href='http://writing.evbogue.com') Writing

					ul.nav.pull-right
						li <a href="http://github.com/evbogue"><i class="icon-github-alt"></i></a> 
						li <a href="mailto:ev@evbogue.com"><i class="icon-envelope"></i></a> 		