

<img src="https://secure.gravatar.com/avatar/40a5e089f8c877d995141f9a780fadc9?s=420" style="margin-bottom: .5em;" >

h2 Hi, I'm Ev Bogue

p.lead I live in Brooklyn

p I teach technical skills so you can deploy. The only thing that will get you ahead is more technical skills. Signing up for bullshit services is not enough, you have to be able to deploy. 


p This website is open source. <a href="https://github.com/evbogue/writing.evbogue.com">View source</a>. Built on <a href="http://nodejs.org/">Node.js</a>

p As seen on: 
  a(href="/posts/hyperboria") Hyperboria

<form action="https://tinyletter.com/evbogue" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/evbogue', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><input type="text" class="medium" name="email" id="tlemail" placeholder="Enter your email" /><input type="hidden" value="1" name="embed" /><br /><input type="submit" value="Sign up" class="btn"/></p></form>