

<img src="https://secure.gravatar.com/avatar/40a5e089f8c877d995141f9a780fadc9?s=420" style="margin-bottom: .5em;" >

h4 Hi, I'm Ev Bogue
p I'm a technical writer and web developer fascinated by Node.js and Bitcoin. <a href="/pages/about">About</a>

p This website is open source. If you want to contribute, <a href="https://github.com/evbogue/docpad.evbogue.com">submit pull requests on Github</a>

p Built on <a href="http://nodejs.org/">Node.js</a> using <a href="http://docpad.org/">Docpad</a>

p As seen on: 
a(href="http://hyperboria.net") Hyperboria

<a class="coinbase-button" data-code="0dc45694a51187d70d5ab454d8ea797c" data-button-style="custom_small" href="https://coinbase.com/checkouts/0dc45694a51187d70d5ab454d8ea797c">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>